### Precisamos antes de tudo, importar a biblioteca. É um padrão abreviar o nome da biblioteca para 'pd' por meio de um alias.

In [5]:
import pandas as pd

# Séries - Análise Unidimensional

### Uma série em pandas representa uma estrutura unidimensional, junto a um índice.

Vamos criar uma série números múltiplos de 10.

In [6]:
serie = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90])

Podemos usar os métodos Head e Tail para ler os primeiros e últimos elementos em uma série

In [7]:
serie.head()

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [8]:
serie.tail()

4    50
5    60
6    70
7    80
8    90
dtype: int64

In [9]:
print(serie)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

Em arquivos do tipo ipynb (notebooks), é possível utilizar também o método display para exibir os dados.

In [10]:
display(serie)

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

Podemos acessar elementos da série através dos seus índices, assim como é feito nas listas.

In [11]:
print(serie[3])

40

In [12]:
display(serie[4:7])

4    50
5    60
6    70
dtype: int64

Podemos obter informações estatísticas básicas a partir da série.

In [13]:
serie.describe()

count     9.000000
mean     50.000000
std      27.386128
min      10.000000
25%      30.000000
50%      50.000000
75%      70.000000
max      90.000000
dtype: float64

Média Aritimética (Soma de todos elementos dividido pela quantidade de elementos)

In [14]:
tamanho = serie.size
print(f'Total de Elementos: {tamanho}')

Total de Elementos: 9

In [15]:
media = serie.mean()
print(f'Média: {media}')

Média: 50.0

Maior Valor

In [16]:
maximo = serie.max()
print(f'Maior Valor: {maximo}')

Maior Valor: 90

Menor Valor

In [17]:
minimo = serie.min()
print(f'Menor Valor: {minimo}')

Menor Valor: 10

A Mediana, o elemento localizado no centro ao considerar a série ordenada em ordem crescente.

In [18]:
mediana = serie.median()
print(f'Mediana: {mediana}')

Mediana: 50.0

Vamos adicionar mais um elemento no próximo índice da série

In [19]:
serie[9] = 100
print(serie)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Se a mediana é o elemento central, como calculá-la em um cojunto de elementos com número de itens par?

In [20]:
mediana = serie.median()
print(f'Mediana: {mediana}')

Mediana: 55.0

É possível realizar ações de filtragem na série

In [21]:
display(serie[serie > 30])

3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [22]:
display(serie[serie % 3 == 0])

2    30
5    60
8    90
dtype: int64

In [23]:
display(serie[serie > serie.mean()])

5     60
6     70
7     80
8     90
9    100
dtype: int64

Podemos também, aplicar cálculos para todos os elementos das séries

In [24]:
serie_metade = serie/2

display(serie_metade)

0     5.0
1    10.0
2    15.0
3    20.0
4    25.0
5    30.0
6    35.0
7    40.0
8    45.0
9    50.0
dtype: float64

E também fazer operações entre duas séries. Nesse caso, o índice é utilizado como referência para correlacionar os registros

In [25]:
display(serie + serie_metade)

0     15.0
1     30.0
2     45.0
3     60.0
4     75.0
5     90.0
6    105.0
7    120.0
8    135.0
9    150.0
dtype: float64

Se o número de elementos for par, a mediana é a média aritmética dos dois valores centrais.

### Além dos índices numéricos autoincrementais, é possível fornecer um conjunto de índices customizado, que pode ser utilizado para acrescentar informações à análise.

Vamos criar uma série com as temperaturas médias por mês do ano em Petrópolis.

Fonte: https://www.climatempo.com.br/previsao-do-tempo/15-dias/cidade/317/petropolis-rj

In [26]:
temperatura_minima = {'13/05': 13,
                     '14/05': 12,
                     '15/05': 15,
                     '16/05': 14,
                     '17/05': 14,
                     '18/05': 15,
                     '19/05': 14,
                     '20/05': 15,
                     '21/05': 16,
                     '22/05': 16}

In [27]:
temperatura_max = pd.Series(temperatura_maxima)

NameError: name 'temperatura_maxima' is not defined

In [ ]:
temperatura_min.head()

In [ ]:
temperatura_min.describe()

Ou até mesmo, acessar diretamente pelos índices

In [ ]:
temperatura_min[['14/05','18/05','20/05','22/05']]

Ainda é possível buscar por posição, através do método iLoc

In [ ]:
temperatura_min.iloc[0:3]

Podemos também usar o método Plot para gerar visualizacoes sobre os dados

In [ ]:
temperatura_min.plot()

In [ ]:
temperatura_min.plot(kind='bar')

## **Prática**

A partir do conjunto de dados de temperaturas mínimas do exemplo, junto ao conjunto de dados a seguir de temperaturas máximas, mais as regras de negócios fornecidas resolva a seguinte questão. Utilize Series Pandas e demais conhecimentos de python aprendidos.

Seu objetivo é ajudar um turista a planejar quais roupas deverá usar ou levar ao sair de casa para passar um dia inteiro de outono em Petrópolis, as regras são as seguintes:


*   **Casaco**: se a temperatura mínima do dia for menor que 16ºc
*   **Gorro**: se a temperatura mínima do dia for menor que a média de temperaturas mínimas
*   **Mochila**: quando a amplitude térmica for maior ou igual a 5ºc, será necessário levar uma mochila para guardar as roupas de frio
*   **Bermuda**: Se a temperatura máxima for pelo menos 22ºc e a mínima for acima das médias de temperaturas mínimas
*   **Luvas**: Se a temperatura mínima for a menor do período analisado


####*Amplitude Térmica*: Diferença entre a maior a menor temperatura em um período analisado. Nesse caso, estamos analisando por dia. (Máxima Dia - Mínima Dia)
####*Efeito Chuva*: Se chover, a sensação térmica ficará menor, com isso, todas as temperaturas serão consideradas 2ºc menores, tanto para máximas quanto para mínimas.


**Crie scripts para responder as seguintes questões**

1.   Se as temperaturas mínimas e máximas oscilarem 1ºc para cima em todos os dias, quantos dias o turista será recomendado a usar bermuda?
2.   Em quais dias será necessário levar mochila?
3.   Em algum dos dias o Turista será indicado a usar tanto bermuda quanto luvas?
4.   Quais serão os itens indicados para o dia 17/05?
5.   Em quais dias, que normalmente não necessitariam o uso de casaco, o item passaria a ser necessário em caso de chuva?
6.   Gere um gráfico com a evolução da amplitude térmica.
7.   Gere um gráfico que retorne quantas vezes cada item será utilizado.

In [ ]:
temperatura_maxima = {'13/05': 21,
                     '14/05': 20,
                     '15/05': 21,
                     '16/05': 22,
                     '17/05': 23,
                     '18/05': 22,
                     '19/05': 23,
                     '20/05': 23,
                     '21/05': 25,
                     '22/05': 25}

In [ ]:
temperatura_max = pd.Series(temperatura_maxima)

se as temperaturas mínimas e máximas oscilarem 1°c para cima em todos os dias, quantos dias o turista será recomendado a usar bermuda?

In [ ]:
temperatura_min_alterada = temperatura_min +1
temperatura_max_alterada = temperatura_max +1
temperatura_media_minima = temperatura_min_alterada.mean()

In [ ]:
series_minima_alterada = pd.Series(temperatura_min_alterada)
series_maxima_alterada = pd.Series(temperatura_max_alterada)
series_media_alterada = pd.Series(temperatura_media_minima)

In [ ]:
cond_uso_bermuda = (series_minima_alterada > temperatura_min_alterada.mean()) & (series_maxima_alterada >= 22)

print(f'Quantos dias são propicios para ulilização da bermuda: {temperatura_min_alterada.index[cond_uso_bermuda].size}')

Gorro**: se a temperatura mínima do dia for menor que a média de temperaturas mínimas

In [ ]:
import pandas as pd

temperatura_minima = {'13/05': 13,
                     '14/05': 12,
                     '15/05': 15,
                     '16/05': 14,
                     '17/05': 14,
                     '18/05': 15,
                     '19/05': 14,
                     '20/05': 15,
                     '21/05': 16,
                     '22/05': 16}


series_temperaturas = pd.Series(temperatura_minima)
media_temperaturas = series_temperaturas.mean()
dias_com_gorro = series_temperaturas[series_temperaturas < media_temperaturas].index.tolist()

print(f'Média das temperaturas nínimas : {media_temperaturas:.2f}ºc')
print(f"Dias para usar gorro : {', '.join(dias_com_gorro)}")

Mochila**: quando a amplitude térmica for maior ou igual a 5ºc, será necessário levar uma mochila para guardar as roupas de frio.
Em quais dias será necessário levar mochila?

In [ ]:
import pandas as pd

temperatura_minima = {'13/05': 13,
                     '14/05': 12,
                     '15/05': 15,
                     '16/05': 14,
                     '17/05': 14,
                     '18/05': 15,
                     '19/05': 14,
                     '20/05': 15,
                     '21/05': 16,
                     '22/05': 16}

series_temperaturas = pd.Series(temperatura_minima)
dias_com_casaco = series_temperaturas[series_temperaturas <16].index.tolist()
print(f"Dias para usar o casaco: {', '.join(dias_com_casaco)}")

2-Em quais dias será necessário levar mochila?

In [ ]:
ampl_term = (temperatura_max - temperatura_min)
dias_para_levar_mochila = ampl_term[ampl_term >=5].index.tolist()

In [ ]:
print(f"Amplitude térmica:\n{ampl_term}")
print(f"Dias para levar mochila: {','.join(dias_para_levar_mochila)}")

5-Em quais dias, que normalmente não necessitariam o uso de casaco, o item passaria a ser necessário em caso de chuva?

# DataFrames

### Assim como nas seríes é possível usar as estruturas comuns da linguagem para a criação dos DataFrames. Também é possível importar de arquivos (txt, csv, excel, etc) ou da Web.

In [28]:
#Campos: ID da Transação, Codigo Cliente, Modelo, Data do Aluguel, Data de Devolução, Valor Locacao, Taxa Administrativa

alugueis = [
    (1, 1023, "Onix", "2025-01-05", "2025-01-10", 1250.00, "R$ 150,00"),
    (2, 1045, "HB20", "2025-01-07", "2025-01-12", 1400.00, "R$ 150,00"),
    (3, 1102, "Tracker", "2025-01-10", "2025-01-15", 1750.50, "R$ 200,00"),
    (4, 1150, "T-Cross", "2025-01-12", "2025-01-16", 1120.75, "R$ 200,00"),
    (5, 1201, "Civic", "2025-01-15", "2025-01-17", 800.00, "R$ 250,00"),
    (6, 1254, "Civic", "2025-01-18", "2025-01-31", 4525.25, "R$ 250,00"),
    (7, 1300, "L200", "2025-01-20", "2025-01-29", 4875.00, "R$ 300,00"),
    (8, 1356, "Compass", "2025-01-22", "2025-01-28", 3400.60, "R$ 400,00"),
    (9, 1025, "Onix", "2025-02-01", "2025-02-05", 1000.00, "R$ 150,00"),
    (10, 1023, "HB20", "2025-02-03", "2025-02-07", 1120.00, "R$ 150,00"),
    (11, 1122, "Tracker", "2025-02-05", "2025-02-07", 425.75, "R$ 200,00"),
    (12, 1177, "T-Cross", "2025-02-08", "2025-02-12", 1240.50, "R$ 200,00"),
    (13, 1225, "Civic", "2025-02-10", "2025-02-15", 1750.00, "R$ 250,00"),
    (14, 1270, "Civic", "2025-02-12", "2025-02-17", 2000.00, "R$ 250,00"),
    (15, 1300, "L200", "2025-02-14", "2025-02-15", 500.00, "R$ 300,00"),
    (16, 1375, "Compass", "2025-02-16", "2025-02-21", 3600.00, "R$ 400,00"),
    (17, 1005, "Onix", "2025-02-18", "2025-02-19", 400.00, "R$ 150,00"),
    (18, 1150, "Tracker", "2025-02-20", "2025-02-25", 1925.00, "R$ 250,00"),
    (19, 1105, "T-Cross", "2025-02-22", "2025-02-26", 1300.00, "R$ 200,00"),
    (20, 1023, "Civic", "2025-02-20", "2025-02-28", 3850.00, "R$ 250,00")
]

### Com isso, conseguimos instanciar a classe Dataframe, a partir da leitura do CSV. A partir de agora, os dados estão disponíveis para serem trabalhados em memória.

In [29]:
df = pd.DataFrame(alugueis)

In [30]:
df.to_csv('alugueis_carros.csv', index= False, header = False)

In [31]:
df.tail()

     0     1        2           3           4       5          6
15  16  1375  Compass  2025-02-16  2025-02-21  3600.0  R$ 400,00
16  17  1005     Onix  2025-02-18  2025-02-19   400.0  R$ 150,00
17  18  1150  Tracker  2025-02-20  2025-02-25  1925.0  R$ 250,00
18  19  1105  T-Cross  2025-02-22  2025-02-26  1300.0  R$ 200,00
19  20  1023    Civic  2025-02-20  2025-02-28  3850.0  R$ 250,00

In [32]:
df = pd.read_csv('alugueis_carros.csv',header=None)

In [33]:
display(df)

     0     1        2           3           4        5          6
0    1  1023     Onix  2025-01-05  2025-01-10  1250.00  R$ 150,00
1    2  1045     HB20  2025-01-07  2025-01-12  1400.00  R$ 150,00
2    3  1102  Tracker  2025-01-10  2025-01-15  1750.50  R$ 200,00
3    4  1150  T-Cross  2025-01-12  2025-01-16  1120.75  R$ 200,00
4    5  1201    Civic  2025-01-15  2025-01-17   800.00  R$ 250,00
5    6  1254    Civic  2025-01-18  2025-01-31  4525.25  R$ 250,00
6    7  1300     L200  2025-01-20  2025-01-29  4875.00  R$ 300,00
7    8  1356  Compass  2025-01-22  2025-01-28  3400.60  R$ 400,00
8    9  1025     Onix  2025-02-01  2025-02-05  1000.00  R$ 150,00
9   10  1023     HB20  2025-02-03  2025-02-07  1120.00  R$ 150,00
10  11  1122  Tracker  2025-02-05  2025-02-07   425.75  R$ 200,00
11  12  1177  T-Cross  2025-02-08  2025-02-12  1240.50  R$ 200,00
12  13  1225    Civic  2025-02-10  2025-02-15  1750.00  R$ 250,00
13  14  1270    Civic  2025-02-12  2025-02-17  2000.00  R$ 250,00
14  15  1300     L200  2025-02-14  2025-02-15   500.00  R$ 300,00
15  16  1375  Compass  2025-02-16  2025-02-21  3600.00  R$ 400,00
16  17  1005     Onix  2025-02-18  2025-02-19   400.00  R$ 150,00
17  18  1150  Tracker  2025-02-20  2025-02-25  1925.00  R$ 250,00
18  19  1105  T-Cross  2025-02-22  2025-02-26  1300.00  R$ 200,00
19  20  1023    Civic  2025-02-20  2025-02-28  3850.00  R$ 250,00

Podemos incluir o nome das colunas, já na criação do DataFrame

In [34]:
df = pd.DataFrame(alugueis, columns=[
    "idTransacao", "idCliente", "modelo", "dtAluguel", "dtDevolucao", "vlLocacao", "vlTaxaAdministrativa"
])

In [35]:
df.head(10)

,idTransacao,idCliente,modelo,dtAluguel,dtDevolucao,vlLocacao,vlTaxaAdministrativa
0,1,1023,Onix,2025-01-05,2025-01-10,1250.00,"R$ 150,00"
1,2,1045,HB20,2025-01-07,2025-01-12,1400.00,"R$ 150,00"
2,3,1102,Tracker,2025-01-10,2025-01-15,1750.50,"R$ 200,00"
3,4,1150,T-Cross,2025-01-12,2025-01-16,1120.75,"R$ 200,00"
4,5,1201,Civic,2025-01-15,2025-01-17,800.00,"R$ 250,00"
5,6,1254,Civic,2025-01-18,2025-01-31,4525.25,"R$ 250,00"
6,7,1300,L200,2025-01-20,2025-01-29,4875.00,"R$ 300,00"
7,8,1356,Compass,2025-01-22,2025-01-28,3400.60,"R$ 400,00"
8,9,1025,Onix,2025-02-01,2025-02-05,1000.00,"R$ 150,00"
9,10,1023,HB20,2025-02-03,2025-02-07,1120.00,"R$ 150,00"

### Podemos utilizar alguns métodos para explorar e entender melhor o conjunto de dados.

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   idTransacao           20 non-null     int64
 1   idCliente             20 non-null     int64
 2   modelo                20 non-null     object
 3   dtAluguel             20 non-null     object
 4   dtDevolucao           20 non-null     object
 5   vlLocacao             20 non-null     float64
 6   vlTaxaAdministrativa  20 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.2+ KB

In [37]:
df.describe()

       idTransacao    idCliente    vlLocacao
count     20.00000    20.000000    20.000000
mean      10.50000  1161.550000  1911.667500
std        5.91608   119.370928  1373.165751
min        1.00000  1005.000000   400.000000
25%        5.75000  1040.000000  1090.000000
50%       10.50000  1150.000000  1350.000000
75%       15.25000  1258.000000  2350.150000
max       20.00000  1375.000000  4875.000000

In [38]:
df[['modelo','vlLocacao']].head(15)

     modelo  vlLocacao
0      Onix    1250.00
1      HB20    1400.00
2   Tracker    1750.50
3   T-Cross    1120.75
4     Civic     800.00
5     Civic    4525.25
6      L200    4875.00
7   Compass    3400.60
8      Onix    1000.00
9      HB20    1120.00
10  Tracker     425.75
11  T-Cross    1240.50
12    Civic    1750.00
13    Civic    2000.00
14     L200     500.00

### Mesmo em conjuntos de dados simples, podemos descobrir informações valiosas manipulando os dados.

In [39]:
df.groupby('modelo')['vlLocacao'].mean()

modelo
Civic      2585.050000
Compass    3500.300000
HB20       1260.000000
L200       2687.500000
Onix        883.333333
T-Cross    1220.416667
Tracker    1367.083333
Name: vlLocacao, dtype: float64

Um tratamento comum de ser feito é a alteração de tipagens de dados

In [40]:
df['dtAluguel'] = pd.to_datetime(df['dtAluguel'], format='%Y-%m-%d')
df['dtDevolucao'] = pd.to_datetime(df['dtDevolucao'], format='%Y-%m-%d')

Podemos incluir a informação de duração prevista do aluguel

In [41]:
df['dtDuracaoDias'] = (df['dtDevolucao'] - df['dtAluguel']).dt.days

In [57]:
df.head(20)

,idTransacao,idCliente,modelo,dtAluguel,dtDevolucao,vlLocacao,vlTaxaAdministrativa,dtDuracaoDias,vlDia,classificacao,vlTaxaAdministrativa_numerico,receitaTotal_aluguel,percentual_taxa,impacto_taxa,desconto_taxa,desconto_duracao,desconto_total,percentual_desconto
0,1,1023,Onix,2025-01-05,2025-01-10,1250.00,"R$ 150,00",5,250.00,Média,150.0,1400.00,10.714286,Média,0.0000,112.000,112.0000,8.000000
1,2,1045,HB20,2025-01-07,2025-01-12,1400.00,"R$ 150,00",5,280.00,Média,150.0,1550.00,9.677419,Média,0.0000,124.000,124.0000,8.000000
2,3,1102,Tracker,2025-01-10,2025-01-15,1750.50,"R$ 200,00",5,350.10,Média,200.0,1950.50,10.253781,Média,0.0000,156.040,156.0400,8.000000
3,4,1150,T-Cross,2025-01-12,2025-01-16,1120.75,"R$ 200,00",4,280.19,Média,200.0,1320.75,15.142911,Alta,1.8875,105.660,107.5475,8.142911
4,5,1201,Civic,2025-01-15,2025-01-17,800.00,"R$ 250,00",2,400.00,Curta,250.0,1050.00,23.809524,Alta,92.5000,0.000,92.5000,8.809524
5,6,1254,Civic,2025-01-18,2025-01-31,4525.25,"R$ 250,00",13,348.10,Longa,250.0,4775.25,5.235328,Baixa,0.0000,573.030,573.0300,12.000000
6,7,1300,L200,2025-01-20,2025-01-29,4875.00,"R$ 300,00",9,541.67,Longa,300.0,5175.00,5.797101,Baixa,0.0000,621.000,621.0000,12.000000
7,8,1356,Compass,2025-01-22,2025-01-28,3400.60,"R$ 400,00",6,566.77,Média,400.0,3800.60,10.524654,Média,0.0000,304.048,304.0480,8.000000
8,9,1025,Onix,2025-02-01,2025-02-05,1000.00,"R$ 150,00",4,250.00,Média,150.0,1150.00,13.043478,Média,0.0000,92.000,92.0000,8.000000
9,10,1023,HB20,2025-02-03,2025-02-07,1120.00,"R$ 150,00",4,280.00,Média,150.0,1270.00,11.811024,Média,0.0000,101.600,101.6000,8.000000
10,11,1122,Tracker,2025-02-05,2025-02-07,425.75,"R$ 200,00",2,212.88,Curta,200.0,625.75,31.961646,Alta,106.1375,0.000,106.1375,16.961646
11,12,1177,T-Cross,2025-02-08,2025-02-12,1240.50,"R$ 200,00",4,310.12,Média,200.0,1440.50,13.884068,Média,0.0000,115.240,115.2400,8.000000
12,13,1225,Civic,2025-02-10,2025-02-15,1750.00,"R$ 250,00",5,350.00,Média,250.0,2000.00,12.500000,Média,0.0000,160.000,160.0000,8.000000
13,14,1270,Civic,2025-02-12,2025-02-17,2000.00,"R$ 250,00",5,400.00,Média,250.0,2250.00,11.111111,Média,0.0000,180.000,180.0000,8.000000
14,15,1300,L200,2025-02-14,2025-02-15,500.00,"R$ 300,00",1,500.00,Curta,300.0,800.00,37.500000,Alta,180.0000,0.000,180.0000,22.500000
15,16,1375,Compass,2025-02-16,2025-02-21,3600.00,"R$ 400,00",5,720.00,Média,400.0,4000.00,10.000000,Média,0.0000,320.000,320.0000,8.000000
16,17,1005,Onix,2025-02-18,2025-02-19,400.00,"R$ 150,00",1,400.00,Curta,150.0,550.00,27.272727,Alta,67.5000,0.000,67.5000,12.272727
17,18,1150,Tracker,2025-02-20,2025-02-25,1925.00,"R$ 250,00",5,385.00,Média,250.0,2175.00,11.494253,Média,0.0000,174.000,174.0000,8.000000
18,19,1105,T-Cross,2025-02-22,2025-02-26,1300.00,"R$ 200,00",4,325.00,Média,200.0,1500.00,13.333333,Média,0.0000,120.000,120.0000,8.000000
19,20,1023,Civic,2025-02-20,2025-02-28,3850.00,"R$ 250,00",8,481.25,Longa,250.0,4100.00,6.097561,Baixa,0.0000,492.000,492.0000,12.000000

In [58]:
df['vlDia'] = (df['vlLocacao'] / df['dtDuracaoDias']).round(2)

In [59]:
df.head()

,idTransacao,idCliente,modelo,dtAluguel,dtDevolucao,vlLocacao,vlTaxaAdministrativa,dtDuracaoDias,vlDia,classificacao,vlTaxaAdministrativa_numerico,receitaTotal_aluguel,percentual_taxa,impacto_taxa,desconto_taxa,desconto_duracao,desconto_total,percentual_desconto
0,1,1023,Onix,2025-01-05,2025-01-10,1250.00,"R$ 150,00",5,250.00,Média,150.0,1400.00,10.714286,Média,0.0000,112.00,112.0000,8.000000
1,2,1045,HB20,2025-01-07,2025-01-12,1400.00,"R$ 150,00",5,280.00,Média,150.0,1550.00,9.677419,Média,0.0000,124.00,124.0000,8.000000
2,3,1102,Tracker,2025-01-10,2025-01-15,1750.50,"R$ 200,00",5,350.10,Média,200.0,1950.50,10.253781,Média,0.0000,156.04,156.0400,8.000000
3,4,1150,T-Cross,2025-01-12,2025-01-16,1120.75,"R$ 200,00",4,280.19,Média,200.0,1320.75,15.142911,Alta,1.8875,105.66,107.5475,8.142911
4,5,1201,Civic,2025-01-15,2025-01-17,800.00,"R$ 250,00",2,400.00,Curta,250.0,1050.00,23.809524,Alta,92.5000,0.00,92.5000,8.809524

In [60]:
df.groupby('modelo')['vlDia'].mean()

modelo
Civic      395.870000
Compass    643.385000
HB20       280.000000
L200       520.835000
Onix       300.000000
T-Cross    305.103333
Tracker    315.993333
Name: vlDia, dtype: float64

Qual é a proporção (%) de contratos curtos, médios e longos no período analisado?

In [56]:





# Calcular a duração do aluguel em dias
# Subtraímos as colunas de data e então acessamos o atributo .dt.days
df['dtDuracaoDias'] = (df['dtDevolucao'] - df['dtAluguel']).dt.days

# Verificar a duração do aluguel usando pd.cut
# Definimos os bins(separa os dados) e os labels(armazena os dados separados) para as classificações
# right=True (padrão) inclui a borda direita do intervalo
df["classificacao"] = pd.cut(df['dtDuracaoDias'],
                            bins=[0, 3, 7, 100],
                            labels=['Curta', 'Média', 'Longa'],
                            right=True)

# value_counts() conta a frequência de cada categoria
# normalize=True calcula as proporções (frequências relativas)
# Multiplicamos por 100 para obter o percentual
proporcao = df['classificacao'].value_counts(normalize=True)

# atribuir um novo nome diretamente
proporcao.name = 'Proporção de Contratos'

print(proporcao)

classificacao
Média    0.65
Curta    0.20
Longa    0.15
Name: Proporção de Contratos, dtype: float64

In [61]:
df.head()

,idTransacao,idCliente,modelo,dtAluguel,dtDevolucao,vlLocacao,vlTaxaAdministrativa,dtDuracaoDias,vlDia,classificacao,vlTaxaAdministrativa_numerico,receitaTotal_aluguel,percentual_taxa,impacto_taxa,desconto_taxa,desconto_duracao,desconto_total,percentual_desconto
0,1,1023,Onix,2025-01-05,2025-01-10,1250.00,"R$ 150,00",5,250.00,Média,150.0,1400.00,10.714286,Média,0.0000,112.00,112.0000,8.000000
1,2,1045,HB20,2025-01-07,2025-01-12,1400.00,"R$ 150,00",5,280.00,Média,150.0,1550.00,9.677419,Média,0.0000,124.00,124.0000,8.000000
2,3,1102,Tracker,2025-01-10,2025-01-15,1750.50,"R$ 200,00",5,350.10,Média,200.0,1950.50,10.253781,Média,0.0000,156.04,156.0400,8.000000
3,4,1150,T-Cross,2025-01-12,2025-01-16,1120.75,"R$ 200,00",4,280.19,Média,200.0,1320.75,15.142911,Alta,1.8875,105.66,107.5475,8.142911
4,5,1201,Civic,2025-01-15,2025-01-17,800.00,"R$ 250,00",2,400.00,Curta,250.0,1050.00,23.809524,Alta,92.5000,0.00,92.5000,8.809524

Quem são os três clientes (Código Cliente) que mais geraram receita total no período? Quanto (R$) cada um gastou?

In [47]:


# 1. Tratar a coluna 'vlTaxaAdministrativa' e converter para numérico
# Remover "R$ " e substituir "," por "."
df['vlTaxaAdministrativa_numerico'] = df['vlTaxaAdministrativa'].str.replace('R\$ ', '', regex=True).str.replace(',', '.', regex=False).astype(float)

# 2. Calcular a Receita Total por Aluguel
df['receitaTotal_aluguel'] = df['vlLocacao'] + df['vlTaxaAdministrativa_numerico']

# 3. Agrupar por 'idCliente' e somar a 'receitaTotal_aluguel'
receita_por_cliente = df.groupby('idCliente')['receitaTotal_aluguel'].sum()

receita_por_cliente_ordenada = receita_por_cliente.sort_values(ascending=False)

top_3_clientes = receita_por_cliente_ordenada.head(3)

print("Top 3 clientes que mais geraram receita:")
print(top_3_clientes.round(2)) # Arredonda para 2 casas decimais para formato de moeda

Top 3 clientes que mais geraram receita:
idCliente
1023    6770.00
1300    5975.00
1254    4775.25
Name: receitaTotal_aluguel, dtype: float64

Calcule o total de desconto concedido pode modelo de carro.

In [48]:


# --- Calcular o Impacto das Taxas Administrativas ---

# Calcular o percentual da taxa administrativa sobre a receita total
df['percentual_taxa'] = (df['vlTaxaAdministrativa_numerico'] / df['receitaTotal_aluguel'])

# Classificar o impacto das taxas
df['impacto_taxa'] = pd.cut(df['percentual_taxa'],
                            bins=[-float('inf'), 0.08, 0.15, float('inf')], # Usamos -inf e inf para garantir todos os valores
                            labels=['Baixa', 'Média', 'Alta'],
                            right=True) # Inclui o limite superior

# --- Calcular o Desconto de Taxa ---

# Inicializar a coluna de desconto de taxa com 0
df['desconto_taxa'] = 0.0

# Calcular o desconto para impacto 'Alta'
# Se o impacto da taxa for 'Alta', o desconto é o valor da taxa
# menos 15% do valor total.
condicao_desconto_taxa = df['impacto_taxa'] == 'Alta'
df.loc[condicao_desconto_taxa, 'desconto_taxa'] = df['vlTaxaAdministrativa_numerico'] - (df['receitaTotal_aluguel'] * 0.15)

# Garantir que o desconto de taxa não seja negativo (caso a taxa já seja menor que 15%)
df['desconto_taxa'] = df['desconto_taxa'].clip(lower=0)


# --- Calcular o Desconto de Duração ---

# Inicializar a coluna de desconto de duração com 0
df['desconto_duracao'] = 0.0

# Calcular o desconto para duração 'Média' (8%)
condicao_desconto_medio = df['classificacao'] == 'Medio'
df.loc[condicao_desconto_medio, 'desconto_duracao'] = df.loc[condicao_desconto_medio, 'receitaTotal_aluguel'] * 0.08

# Calcular o desconto para duração 'Longa' (12%)
condicao_desconto_longo = df['classificacao'] == 'Longo'
df.loc[condicao_desconto_longo, 'desconto_duracao'] = df.loc[condicao_desconto_longo, 'receitaTotal_aluguel'] * 0.12

# --- Calcular o Desconto Total ---

df['desconto_total'] = df['desconto_taxa'] + df['desconto_duracao']

# --- Calcular o Total de Desconto Concedido por Modelo ---

total_desconto_por_modelo = df.groupby('modelo')['desconto_total'].sum()

# Exibir o resultado
print("Total de desconto concedido por modelo de carro:")
print(total_desconto_por_modelo.round(2)) # Arredonda para 2 casas decimais

Total de desconto concedido por modelo de carro:
modelo
Civic      1497.53
Compass     624.05
HB20        225.60
L200        801.00
Onix        271.50
T-Cross     342.79
Tracker     436.18
Name: desconto_total, dtype: float64

Ordene os aluguéis por % de desconto

In [52]:
# Calculate the percentage of discount
df['percentual_desconto'] = ((df['desconto_total']) / df['receitaTotal_aluguel']) * 100

df_ordenado_por_desconto = df.sort_values(by='percentual_desconto', ascending=False)


print("Aluguéis ordenados por percentual de desconto:")
display(df_ordenado_por_desconto[['idTransacao', 'percentual_desconto']].round(1))

Aluguéis ordenados por percentual de desconto:

    idTransacao  percentual_desconto
14           15                 22.5
10           11                 17.0
16           17                 12.3
5             6                 12.0
6             7                 12.0
19           20                 12.0
4             5                  8.8
3             4                  8.1
2             3                  8.0
1             2                  8.0
0             1                  8.0
7             8                  8.0
11           12                  8.0
9            10                  8.0
8             9                  8.0
12           13                  8.0
15           16                  8.0
13           14                  8.0
17           18                  8.0
18           19                  8.0

In [53]:
df.head()

,idTransacao,idCliente,modelo,dtAluguel,dtDevolucao,vlLocacao,vlTaxaAdministrativa,dtDuracaoDias,vlDia,classificacao,vlTaxaAdministrativa_numerico,receitaTotal_aluguel,percentual_taxa,impacto_taxa,desconto_taxa,desconto_duracao,desconto_total,percentual_desconto
0,1,1023,Onix,2025-01-05,2025-01-10,1250.00,"R$ 150,00",5,250.00,Medio,150.0,1400.00,10.714286,Média,0.0000,112.00,112.0000,8.000000
1,2,1045,HB20,2025-01-07,2025-01-12,1400.00,"R$ 150,00",5,280.00,Medio,150.0,1550.00,9.677419,Média,0.0000,124.00,124.0000,8.000000
2,3,1102,Tracker,2025-01-10,2025-01-15,1750.50,"R$ 200,00",5,350.10,Medio,200.0,1950.50,10.253781,Média,0.0000,156.04,156.0400,8.000000
3,4,1150,T-Cross,2025-01-12,2025-01-16,1120.75,"R$ 200,00",4,280.19,Medio,200.0,1320.75,15.142911,Alta,1.8875,105.66,107.5475,8.142911
4,5,1201,Civic,2025-01-15,2025-01-17,800.00,"R$ 250,00",2,400.00,Curto,250.0,1050.00,23.809524,Alta,92.5000,0.00,92.5000,8.809524

## **Prática**

A partir do conteúdo apresentado sobre DataFrames, Séries e demais conhecimentos em Python. Utilize o conjunto de dados sobre locação veiculas abordado até aqui e responda as seguintes perguntas. Se necessário, faça tratamentos de manipulações no DataFrame.

### **Regras:**

**Classificação da duração do aluguel:**

*   **Curta** - Até 3 dias
*   **Média** - 4-7
*   **Longa** - Acima de 7 dias


**Valor Total:**

*   Soma do Total do Aluguel com a Taxa Administrativa

*Repare que o campo da Taxa Administrativa precisa ser tratado para poder ser utilizado como um campo numérico*

**Definição do Impacto das Taxas Administrativas na Composição do Preço:**

*   **Baixa** - Menos de 8% do Valor Total
*   **Média** - Entre 8% e 15% do Valor Total
*   **Alta** - Acima de 15% do Valor Total

**Desconto:**

*   Os descontos são aplicados após o cálculo do valor total. Existem 2 tipos de desconto, e eles são acumulativos.

1.   Desconto de Taxa: Caso a Classificação de Impacto das Taxas seja **Alta**, será ofertado um desconto que subtraído do valor da taxa, a deixe no patamar de 15%.
2.   Desconto de Duração: Será ofertado um desconto de **8%** para locações de duração **Média** e **12%** para locações de duração **Longa**.
3.   Desconto Total: Desconto de Duração + Desconto de Taxa.

*Formate com 2 casas decimais*

**Valor Final:**

*   Total - Desconto de Taxa - Desconto de Duração

**Percentual de Desconto:**

*   1 - (valor_final/valor_inicial)

*Formate com 1 casa decimal*

**Crie scripts para responder as seguintes questões**



1.    Qual é a proporção (%) de contratos curtos, médios e longos no período analisado?
2.   Quem são os três clientes (Código Cliente) que mais geraram receita total no período? Quanto (R$) cada um gastou?
3.   Calcule o total de desconto concedido pode modelo de carro.
4.   Ordene os aluguéis por % de desconto
5.   Calcule o Total de Diárias e o valor médio de diária por mês de aluguel (data_aluguel)
6.   Bônus: Exporte um Excel com todos os campos originais, além das informações enriquecidas: Classificador de Duração, Desconto Total, Valor Final e Percentual de Desconto.